<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="om.praviBuildingsabcd">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_building"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_building"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".bt10" />
        <activity android:name=".bt9" />
        <activity android:name=".bt8" />
        <activity android:name=".bt7" />
        <activity android:name=".bt6" />
        <activity android:name=".bt5" />
        <activity android:name=".bt4" />
        <activity android:name=".bt3" />
        <activity android:name=".bt2" />
        <activity android:name=".bt1" />
        <activity android:name=".top10" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>